<div class="conteiner-fluid">
  <nav class="bg-body-tertiary">
    <a href="/pessoas" title="Pessoas" alt="Pessoas" class="btn btn-xs btn-primary">
      Pessoas
    </a>
    <a href="/enderecos" title="Endereços" alt="Endereços" class="btn btn-xs btn-primary">
      Endereços
    </a>
    <a href="/cidades" title="Cidades" alt="Cidades" class="btn btn-xs btn-primary">
      Cidades
    </a>
    <a href="/estados" title="Estados" alt="Estados" class="btn btn-xs btn-primary">
      Estados
    </a>
  </nav>
  <nav class="navbar navbar-default">
    <div class="conteiner-fluid">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>